/* ================================================
   BASE STYLES
   ================================================ */

/* Root Variables */
:root {
  --black: black;
  --white: white;
  --grey: #ecf0f1;
}

/* Reset Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
  color: var(--black);
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Media query to disable smooth scrolling for prefers-reduced-motion */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Default Body Styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
  font-size: 62.5%;
}

/* ================================================
   NAVIGATION STYLES
   ================================================ */

/* Navbar Styles */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
  z-index: 1000;
}

/* Navbar Scrolling Styles */
#navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
  color: var(--white);
}

#navbar.scrolled #logo,
#navbar.scrolled #navList li a {
  color: var(--white);
}

/* Navbar Logo Styles */
#logo {
  font-size: 1.5rem;
  margin-left: 2rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

/* Navbar List Styles */
#navList {
  list-style: none;
  display: flex;
  margin-right: 2rem;
  font-size: 1rem;
}

#navList li {
  margin-right: 2rem;
}

/* Nav Links Styles */
#navList li a {
  text-decoration: none;
  color: var(--black);
  position: relative;
  font-weight: 400;
}

#navList li a:hover {
  color: var(--black);
}

/* Animated Underline for Nav Links */
#navList li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: var(--black);
  transition: all 0.5s ease;
}

.scrolled #navList li a::before {
  background-color: var(--white);
}

#navList li a:hover::before {
  width: 100%;
  left: 0;
}

/* Mobile Nav Icon (Initially Hidden) */
#navIcon {
  display: none;
}

/* ================================================
   MAIN CONTENT STYLES
   ================================================ */

/* General Layout for Hero and Projects */
#hero,
#projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 10rem;
  margin-top: 5rem;
  max-width: 1400px;
  margin: 0 auto;
}

#projects {
  padding: 2rem 10rem;
  padding-bottom: 0;
}

#projects,
#additional-projects {
  flex-direction: column;
}
/* Projects Section */
#projects .content-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#projects .project-section,
#projects .text-section {
  flex: 1;
  flex-grow: 1; /* Allow both sections to grow equally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
}

#projects .text-section h2,
#additional-projects h2 {
  padding-bottom: 10px;
  font-size: 1.125rem;
}

#projects .text-section .github-link,
#additional-projects .text-section .github-link {
  display: block;
  padding-top: 10px;
  font-size: 0.75em;
}

#projects h1,
#additional-projects h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "PT Sans", sans-serif;
}

/* Additional Projects Section */
#additional-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 10rem;
  margin-top: 5rem;
  max-width: 1400px;
  margin: 0 auto;
}

#additional-projects h2 {
  padding-bottom: 10px;
}

#additional-projects i {
  margin-right: 5px;
}

/* Project Rows and Columns */
.project-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/* Responsive Design for Projects */
@media (max-width: 768px) {
  .project-row {
    flex-direction: column;
  }

  .project-column {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

/* Hero Section Styles */
#hero h1 {
  display: inline-block;
  position: relative;
  min-height: 1.5em;
}

#hero h1::after {
  content: "|";
  position: absolute;
  left: 100%;
  margin-left: 3px; /* Blink cursor position */
  animation: blink 1s infinite;
}

#regenerateButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  transition: transform 0.3s ease; /* Animation on hover */
  display: block;
  margin-right: 5px;
}

#regenerateButton:hover {
  color: #666;
  transform: rotate(20deg); /* Slight rotation on hover */
}

#regenerateButton:active {
  animation: rotateIcon 0.5s forwards; /* 360 rotation on click */
}

/* Regenerate button rotation */
@keyframes rotateIcon {
  0% {
    transform: rotate(20deg); /* Start from the hovered state */
  }
  100% {
    transform: rotate(
      380deg
    ); /* Rotate 360 degrees back to its original position */
  }
}

/* Blink animation for Hero cursor */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/* ================================================
   TIMELINE STYLES
   ================================================ */
#timeline {
  background-color: var(--grey);
  padding: 40px 0px;
}

.text-section h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  padding-bottom: 25px;
}

.text-section p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.text-section button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.image-section img {
  height: 100%;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
  max-height: 700px;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: var(--black);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -10px;
  background: var(--white);
  border: 2px solid var(--black);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -10px;
}

.container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 6px;
  background: var(--black);
  z-index: 1;
}

.container.right::before {
  left: 6px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -90px;
}

.container.right .date {
  left: -90px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: var(--white);
  border: 2px solid var(--black);
  border-radius: 40px;
  text-align: center;
  font-size: 1.125rem;
  color: var(--black);
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: var(--white);
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--black);
}

.container .content p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.375rem;
  color: var(--black);
}

/* ================================================
   COLOR DISPLAY AND ASSOCIATED ELEMENTS
   ================================================ */

/* General flex layout for color display container */
.flexParent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Layout and spacing for the color container */
#colorContainer {
  display: inline-block;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

/* Styling for each color square inside the color container */
.colorSquare {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

/* Main canvas container styles */
.mainContainer {
  position: relative;
  flex: 1;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Frame container surrounding the canvas */
.frameContainer {
  box-sizing: border-box;
  max-width: 1200px;
  max-height: 600px;
  width: 1200px;
  height: 600px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

/* Canvas container itself */
#canvasContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ================================================
   FOOTER STYLES
   ================================================ */

#footer {
  background-color: var(--grey);
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10rem;
}

.footer-section p {
  font-size: 1rem;
  color: var(--black);
}

.footer-section a {
  color: var(--black);
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}
/* ================================================
   MID-SCREEN RESPONSIVE STYLES (up to 1200px)
   ================================================ */
@media (max-width: 1200px) {
  /* Navigation bar adjustments */
  #navbar {
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
  }
  #navbar #logo {
    color: var(--white);
  }

  #navList {
    display: none; /* Hide nav list for smaller screens, assuming mobile navigation will take place */
  }

  #hero,
  #projects,
  .timeline,
  #additional-projects {
    max-width: 768px;
  }

  /* General content layout adjustments */
  #hero,
  #projects,
  #additional-projects {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem 5rem;
    margin-top: 1rem;
  }

  #projects {
    padding-bottom: 0;
  }

  #hero {
    padding: 3rem 2rem 1rem 2rem;
  }

  #timeline {
    padding: 1.5rem 1rem 1rem 1rem;
  }

  .timeline {
    padding-top: 0px;
  }

  #timeline h1 {
    margin-bottom: 0px;
  }

  .container.left .content,
  .container.right .content {
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: left;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
    text-align: left;
    margin-bottom: 20px;
  }

  .container .date,
  .container .icon {
    position: static;
    display: inline-block;
    margin-right: 10px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 16px;
  }

  .container::after,
  .container::before {
    display: none;
  }

  #projects,
  #additional-projects {
    padding: 0.5rem 2rem 0rem 2rem;
  }

  /* Project section adjustments */
  #projects .content-section {
    flex-direction: column;
  }

  #projects .text-section {
    order: -1; /* Place text-section before project-section */
  }

  .image-section {
    order: -1;
    margin-bottom: 1rem;
  }

  .project-section {
    order: 2;
    margin-bottom: 1rem;
  }

  .text-section,
  .image-section {
    max-width: 100%;
  }

  .image-section img {
    max-width: 350px;
  }

  /* Timeline adjustments */
  .timeline::after {
    left: 30px;
    display: none;
  }

  .container {
    width: 100%;
    padding: 1rem;
    text-align: right;
  }

  .container.left,
  .container.right {
    left: 0%;
    padding-top: 0;
  }

  /* Canvas adjustments */
  .mainContainer {
    margin-bottom: 50px;
  }
  .frameContainer {
    width: auto;
    height: auto;
    min-width: 275px;
    min-height: 275px;
  }

  /* Canvas container itself */
  #canvasContainer {
    width: 100%;
    height: 100%;
    min-height: 600px;
    min-width: 600px;
    overflow: hidden;
  }

  #regenerateButton {
    margin: 0 auto;
  }
}

/* ================================================
   MOBILE RESPONSIVE STYLES (up to 768px)
   ================================================ */
@media (max-width: 768px) {
  /* General layout adjustments for main sections */
  #hero,
  #projects,
  #additional-projects {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #blockGameCanvas {
    width: 300px !important;
    height: 450px !important;
  }

  #additional-projects .project-img-container {
    padding: 0 0;
    height: 100%;
  }

  /* Adjustments for project display in mobile view */
  .container.left,
  .container.right {
    left: 0%;
    padding-top: 0;
  }

  /* Adjust image display for mobile view */
  .image-section img {
    max-width: 400px;
    width: 100%;
  }

  /* Footer content adjustments for mobile */
  .footer-content {
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
  }

  .footer-section {
    margin-bottom: 10px;
  }

  /* Canvas container itself */
  #canvasContainer {
    min-height: 300px;
    min-width: 300px;
  }
}
/*Written by Collin Mirsky 2023
collinmirsky.gitbhub.io*/
