body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

canvas {
  border: 1px solid #ccc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

#ant-farm-canvas,
#players-column {
  flex: 1;
}

#ant-farm-canvas {
  margin-right: 20px;
}

#game-title {
  margin: 0 auto;
}

#players-column {
  width: 200px;
}

#players-column button {
  margin-right: 10px;
}

#players-column {
  margin-left: 20px;
}

#players-column h1 {
  font-size: 20px;
  font-weight: normal;
}
input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 1px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

#leaderboard {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 200px; /* Adjust the height as needed */
}

/*Written by Collin Mirsky 2023
collinmirsky.gitbhub.io*/
